#butt1L {
  position: absolute;
  left: 175px;
  top: 40px;
  z-index: 10;
}
#butt1R {
  position: absolute;
  left: 675px;
  top: 40px;
  z-index: 10;
}
#butt2L {
  position: absolute;
  left: 315px;
  top: 400px;
  z-index: 10;
}
#butt2R {
  position: absolute;
  left: 815px;
  top: 400px;
  z-index: 10;
}
#butt3L {
  position: absolute;
  left: 290px;
  top: 170px;
  z-index: 10;
}
#butt3R {
  position: absolute;
  left: 790px;
  top: 170px;
  z-index: 10;
}   
#butt4L {
  position: absolute;
  left: 180px;
  top: 330px;
  z-index: 10;
}
#butt4R {
  position: absolute;
  left: 680px;
  top: 330px;
  z-index: 10;
}
#butt5L {
  position: absolute;
  left: 0px;
  top: 100px;
  z-index: 10;
}
#butt5R {
  position: absolute;
  left: 500px;
  top: 100px;
  z-index: 10;
}
#butt6L {
  position: absolute;
  left: 430px;
  top: 255px;
  z-index: 10;
}
#butt6R {
  position: absolute;
  left: 930px;
  top: 255px;
  z-index: 10;
}   
