#butt1L {
  position: absolute;
  left: 305px;
  top: 100px;
  z-index: 10;
}
#butt1R {
  position: absolute;
  left: 805px;
  top: 100px;
  z-index: 10;
}
#butt2L {
  position: absolute;
  left: 325px;
  top: 15px;
  z-index: 10;
}
#butt2R {
  position: absolute;
  left: 825px;
  top: 15px;
  z-index: 10;
}
#butt3L {
  position: absolute;
  left: 290px;
  top: 170px;
  z-index: 10;
}
#butt3R {
  position: absolute;
  left: 790px;
  top: 170px;
  z-index: 10;
}   
#butt4L {
  position: absolute;
  left: 210px;
  top: 330px;
  z-index: 10;
}
#butt4R {
  position: absolute;
  left: 720px;
  top: 330px;
  z-index: 10;
}
#butt5L {
  position: absolute;
  left: 185px;
  top: 140px;
  z-index: 10;
}
#butt5R {
  position: absolute;
  left: 685px;
  top: 140px;
  z-index: 10;
}
#butt6L {
  position: absolute;
  left: 400px;
  top: 160px;
  z-index: 10;
}
#butt6R {
  position: absolute;
  left: 900px;
  top: 160px;
  z-index: 10;
}   
