#butt1L {
  position: absolute;
  left: 0px;
  top: -15px;
  z-index: 10;
}
#butt1R {
  position: absolute;
  left: 500px;
  top: -15px;
  z-index: 10;
}
#butt2L {
  position: absolute;
  left: 40px;
  top: 142px;
  z-index: 10;
}
#butt2R {
  position: absolute;
  left: 540px;
  top: 142px;
  z-index: 10;
}
#butt3L {
  position: absolute;
  left: 235px;
  top: 175px;
  z-index: 10;
}
#butt3R {
  position: absolute;
  left: 735px;
  top: 175px;
  z-index: 10;
}   
#butt4L {
  position: absolute;
  left: 120px;
  top: 350px;
  z-index: 10;
}
#butt4R {
  position: absolute;
  left: 620px;
  top: 350px;
  z-index: 10;
}
#butt5L {
  position: absolute;
  left: 420px;
  top: 385px;
  z-index: 10;
}
#butt5R {
  position: absolute;
  left: 920px;
  top: 385px;
  z-index: 10;
}
#butt6L {
  position: absolute;
  left: 430px;
  top: -20px;
  z-index: 10;
}
#butt6R {
  position: absolute;
  left: 930px;
  top: -20px;
  z-index: 10;
}