/* FONTS */
/* font-family: 'Bungee Shade', cursive;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Bangers', cursive; 
font-family: 'Anton', sans-serif;
font-family: 'Paytone One', sans-serif;
font-family: 'Fugaz One', cursive;
font-family: 'Lilita One', cursive;
font-family: 'Racing Sans One', cursive;
font-family: 'Londrina Shadow', cursive; 
font-family: 'Raleway', sans-serif;*/

/* **********CLICK STYLING********** */

.invisible {
  opacity: 0;
  height: 80px;
  width: 80px; 
}

.circle {
  position: absolute;
  height: 80px;
  width: 80px; 
}

.circle > img {
  height: 100%;
  width: 100%;
}

.gameOverCircle {
  position: absolute;
  height: 80px;
  width: 80px; 
}

.gameOverCircle > img {
  height: 100%;
  width: 100%;
}


body {
  background-color: rgb(37, 35, 35);
  height: 800px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

#wrapper {
  background-color: black;
  border: 2px solid #4195fc;
  border-radius: 25px;
  box-shadow: 0px 0px 4px #4195fc;
  display: block;
  height: 800px;
  margin-top: 50px;
}

#top-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(65px, auto);
}

.top-box {
  display: grid;
  font-family: 'Paytone One', sans-serif;
}

#high-score {
  display: grid;
  color: white;
  text-align: center;
}

#user-score {
  display: grid;
  color: white;
  text-align: center;
}
#logo {
  display: grid;
  grid-column: 2 / 5;
  font-size: 40px;
  line-height: 1.5em;
  font-family: 'Paytone One', sans-serif;
  text-align: center;
  margin: 0;
}

#timer {
  display: grid;
  position: relative;
  grid-column: 1 / 6;
  margin: 6px;
  border: 2px solid #4195fc;
  border-radius: 20px;
  box-shadow: 0px 0px 4px #4195fc;
  padding: 0 6px;
  text-align: center;
  color: white;
}

.timer-buttons > img {
  padding: 5px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 30px;
}

.timer-buttons > #clock {
  padding: 5px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 50px;
}

#photo-container {
  display: block;
  position: relative;
  height: 500px;
  width: 996px;
  color: white;
}

#photo-container > img {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
} 

/* ****LOG IN FORM & BUTTON ***** */
.login {
  color: white;
  padding: 0px;
  font-size: 40px;
  font-family: 'Paytone One', sans-serif;
  text-align: center;
}

form {
  text-align: center;
  margin: 100px 0;
  padding: 0;
}

.instructions {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding: 50px;
  line-height: 1.6em;
  font-size: 18px;
}

.footer {
  position: relative;
  display: block;
  height: 100px;
  width: 1000px;
  padding: 10px;
  text-align: center;
}

.footer > img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 40px;
}

#chrome {text-align: center;}

#chrome > img {
  width: 266px;
  height: 106px;
}

/* LOGO GLOW */
.glow {
  color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/* LOGO METAL */
.metal {
  padding: 0;
  font-size: 80px;
  font-style: italic;
  background: linear-gradient(#262626, #eaeaea, #262626);
  -webkit-background-clip: text;
  color: transparent;
}


/* .metal > span:nth-child(1) {
  z-index: 2;
}
.metal > span:nth-child(2) {
  z-index: 1;
  text-shadow: 1px 1px 0 #262626, 2px 2px 0 #262626, 3px 3px 0 #262626, 4px 4px 0 #262626, 5px 5px 0 #262626, 1px 1px 0 #262626, 6px 20px 20px rgba(0,0, 0, 1), -1px -1px 0 #fff;
} */

/* GLASS BUTTON  */
.glass{
	/* background styles */
	position: relative;
  display: inline-block;
  width: auto;
  margin: 15px 0;
	padding: 15px 25px;
	background-color: #999999; /*for compatibility with older browsers*/
  background-image: linear-gradient(rgb(43, 43, 43),rgb(172, 172, 172));
  border-radius: 10px;
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;

	/* text styles */
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	font-family: sans-serif;
	font-weight: 100;
}

.glass:after{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

.glass:hover{
	background: linear-gradient(rgb(24, 24, 24),rgb(201, 204, 203));
}

 
 #namer {
  font-family: 'Permanent Marker', cursive;
  border: 0;
  border-bottom: 2px solid #1976D2;
  width: 400px;
  font-size: 50px;
  line-height: 35px;
  height: 70px;
  text-align: center;
  padding: 10px;
  background: transparent;
   color: #BBDEFB;
 } 

 ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}

