#butt1L {
  position: absolute;
  left: 175px;
  top: 200px;
  z-index: 10;
}
#butt1R {
  position: absolute;
  left: 675px;
  top: 200px;
  z-index: 10;
}
#butt2L {
  position: absolute;
  left: 255px;
  top: 370px;
  z-index: 10;
}
#butt2R {
  position: absolute;
  left: 755px;
  top: 370px;
  z-index: 10;
}
#butt3L {
  position: absolute;
  left: 290px;
  top: 200px;
  z-index: 10;
}
#butt3R {
  position: absolute;
  left: 790px;
  top: 200px;
  z-index: 10;
}   
#butt4L {
  position: absolute;
  left: 350px;
  top: -10px;
  z-index: 10;
}
#butt4R {
  position: absolute;
  left: 850px;
  top: -10px;
  z-index: 10;
}
#butt5L {
  position: absolute;
  left: 100px;
  top: 190px;
  z-index: 10;
}
#butt5R {
  position: absolute;
  left: 600px;
  top: 190px;
  z-index: 10;
}
#butt6L {
  position: absolute;
  left: 395px;
  top: 165px;
  z-index: 10;
}
#butt6R {
  position: absolute;
  left: 895px;
  top: 165px;
  z-index: 10;
}   
